<% include partials/header %>

<h2>Hello! Welcome to my skaterbase.</h2>
<p>
        This website is to share and keep track of the currently sponsored skateboarders, and
    the videos they are in for advertisement purposes.  Knowing what companies they skate for
    and what videos they are in gives a much easier time with finding where and how to advertise
    products.
</p>
<br/>
<p>
    Developed by Chad Vink at Sonoma State University.
</p>
<p>
    Chad Vink<br>
    ChadsEmail@email.com<br>
    (323)-214-1245<br>
    123 Adress Way, Ronhert Park CA, 94928<br>
</p>
<% include partials/footer.ejs %>