<% include partials/header %>

<div>
    <h3>Skate Companies</h3>
    <a href="/skateCompany/?companyID=1">First Company</a><br/>
    <a href="/skateCompany/all">All Company</a><br/>
</div>

<div>
    <h3>Skaters</h3>
    <a href="/skater/?skaterID=1">First Skater</a><br/>
    <a href="/skater/all">All Skaters</a><br/>
</div>

<div>
    <h3>Videos</h3>
    <a href="/video/?video/?videoName=Baker2G&companyID=8">First Video</a><br/>
    <a href="/video/all">All Videos</a><br/>
</div>

<div>
    <h3>My Account</h3>
    <a href="/account">My Account</a><br/>
</div>
<% include partials/footer.ejs %>