<% include ./partials/header.ejs %>

<p> Successfully logged out </p>
<p>You will be redirected in <span id="counter">5</span> second(s).</p>
<script type="text/javascript">
    function countdown() {
        var i = document.getElementById('counter');
        if (parseInt(i.innerHTML)<=0) {
            location.href = 'login.php';
        }
        i.innerHTML = parseInt(i.innerHTML)-1;
    }
    setInterval(function(){ countdown(); },1000);
</script>

<meta http-equiv="refresh" content="5;/">

<% include ./partials/footer.ejs %>