<% include ../partials/header %>

<form action="./save/">

<label for="companyName">Company Name</label> <input type="text" id="companyName" name="companyName" /><br />
<label for="founder">Founders Name</label> <input type="text" id="founder" name="founder" /><br />
<label for="foundDate">Date Founded</label> <input type="text" id="foundDate" name="foundDate" /><br />
<input type="submit" />
</form>

<% include ../partials/footer %>